/* add media query @580px */

body{
    background-color: #f7f7f7;
    color: #333;
}
.masthead{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-bottom: 20px;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle:hover{
    background-color: #f0ad4e;
    color: #fff;
}
.leave:hover{
    background-color: #5cb85c;
    color: #fff;
}
.remain:hover{
    background-color: #d9534f;
    color: #fff;
}
.vote{
    cursor: pointer;
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    max-width: 90%;
    margin: auto;
}
.card{
    width: 33%;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #fff;
    margin: 5px;
}
.card span{
    display: block;
    margin-bottom: 10px;
}

/* bootstrap progress bars */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}

/* .progress-bar-info {
  background-color: #5bc0de;
} */

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  background-color: #d9534f;
}

/* ======  */

.highlight{
    background-color: #ff0;
    padding: 6px;
}